In [0]:
import os, sys
from google.colab import drive
drive.mount('/content/drive')

my_path = '/content/notebooks'
# Colab Notebooks 안에 my_env 폴더에 패키지 저장
os.symlink('/content/drive/My Drive/Colab Notebooks/my_env', my_path)
sys.path.insert(0, my_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

FileExistsError: ignored

In [0]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (0.15.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.12.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise) (1.18.4)

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

import warnings; warnings.simplefilter('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
md = pd. read_csv('/content/drive/My Drive/Colab Notebooks/MovieRcmmd/data/data/movies_metadata.csv')
md.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
md['genres'][0] # 각 행들의 구조가 "{'id':_,'name':'_'},{'id';_,'name':'_'}, ,,,"

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [0]:
print(type(md['genres'][0])) # dict들이 str으로 묶여있음
md['genres'].apply(literal_eval) #[{dict},{dict}] <- str을 list로 바꿔줌

<class 'str'>

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [0]:
#각 영화 장르의 이름을 추출해 list 시켜줌
md['genres'] = md['genres'].fillna('[]').apply(literal_eval).apply(lambda x : [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
md['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [0]:
# eval(expression, globals=None, locals=none), 내장함수
# expression 인자에 string 값을 넣으면 해당 값을 그대로 실행하여 결과를 출력
expr = "10 + 10"
print(type(expr))
print(eval(expr))

<class 'str'>
20

In [0]:
#ast.literal_eval(node_or_string), AST module에서 제공하는 함수
#문자 그대로 evaluate 실행하는 함수
import ast
str_dict = "{'a':3,'b':5}"
print(type(str_dict))
convert_dict= ast.literal_eval(str_dict)
print(convert_dict['a'])
print(convert_dict['b'])

<class 'str'>
3
5

In [0]:
#literal_eval은 ValueError를 발생시킬 수 있다.
ast.literal_eval("10*2")
#literal_eval은 python의 기본 자료형 정도만 evaluate가 가능하도록 지원. eval과 비교해 훨씬 엄격하기 때문에 결과적으로 안전을 보장.

ValueError: ignored

In [0]:
type(md['vote_count'][0]) #vote_count의 타입이 float

numpy.float64

In [0]:
vote_counts = md[md['vote_count'].notnull()]['vote_count'].astype('int') #float을 int로
vote_averages = md[md['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_averages.mean()
C

5.244896612406511

In [0]:
m = vote_counts.quantile(0.95)
m

434.0

In [0]:
md['year'] = pd.to_datetime(md['release_date'], errors='coerce').apply(lambda x : str(x).split('-')[0] if x != np.nan else np.nan)
# error='coerce'
# 날짜로 된 문자열이 아니라 문자로 된 문자열인 경우 파싱할 수 없다는 ValueError가 발생하는 것을 방지하기 위해 'coerce'옵션 추가
# 파싱할 수 없는 문자열은 'NaN'으로 강제 변환

In [0]:
md['year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45461     NaT
45462    2011
45463    2003
45464    1917
45465    2017
Name: year, Length: 45466, dtype: object

In [0]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) & (md['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape #(행 수, 열 수)

(2274, 6)

In [0]:
def weighted_rating(x):
  v = x['vote_count']
  R = x['vote_average']
  return (v/(v+m)*R)+(m/(m+v)*C) # Weighted Rating(WR)
# v is the number of votes for the movie
# m is the minimum votes required to be listed in the chart
# R is the average rating of the movie
# C is the mean vote across the whole report

In [0]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [0]:
qualified = qualified.sort_values('wr', ascending=False).head(250)

In [0]:
qualified['wr']

15480    7.917588
12481    7.905871
22879    7.897107
2843     7.881753
4863     7.871787
           ...
2006     6.767415
16129    6.765698
895      6.763480
9888     6.761143
16833    6.760918
Name: wr, Length: 250, dtype: float64

In [0]:
qualified.head(15)

                                                   title  ...        wr
15480                                          Inception  ...  7.917588
12481                                    The Dark Knight  ...  7.905871
22879                                       Interstellar  ...  7.897107
2843                                          Fight Club  ...  7.881753
4863   The Lord of the Rings: The Fellowship of the Ring  ...  7.871787
292                                         Pulp Fiction  ...  7.868660
314                             The Shawshank Redemption  ...  7.864000
7000       The Lord of the Rings: The Return of the King  ...  7.861927
351                                         Forrest Gump  ...  7.860656
5814               The Lord of the Rings: The Two Towers  ...  7.851924
256                                            Star Wars  ...  7.834205
1225                                  Back to the Future  ...  7.820813
834                                        The Godfather  ...  7.814847
1154                             The Empire Strikes Back  ...  7.814099
46                                                 Se7en  ...  7.811669

[15 rows x 7 columns]

In [0]:
md.apply(lambda x : pd.Series(x['genres']), axis=1)

               0        1         2    3    4    5    6    7
0      Animation   Comedy    Family  NaN  NaN  NaN  NaN  NaN
1      Adventure  Fantasy    Family  NaN  NaN  NaN  NaN  NaN
2        Romance   Comedy       NaN  NaN  NaN  NaN  NaN  NaN
3         Comedy    Drama   Romance  NaN  NaN  NaN  NaN  NaN
4         Comedy      NaN       NaN  NaN  NaN  NaN  NaN  NaN
...          ...      ...       ...  ...  ...  ...  ...  ...
45461      Drama   Family       NaN  NaN  NaN  NaN  NaN  NaN
45462      Drama      NaN       NaN  NaN  NaN  NaN  NaN  NaN
45463     Action    Drama  Thriller  NaN  NaN  NaN  NaN  NaN
45464        NaN      NaN       NaN  NaN  NaN  NaN  NaN  NaN
45465        NaN      NaN       NaN  NaN  NaN  NaN  NaN  NaN

[45466 rows x 8 columns]

In [0]:
md.apply(lambda x : pd.Series(x['genres']), axis=1).stack()

0      0    Animation
       1       Comedy
       2       Family
1      0    Adventure
       1      Fantasy
              ...
45461  1       Family
45462  0        Drama
45463  0       Action
       1        Drama
       2     Thriller
Length: 91106, dtype: object

In [0]:
s = md.apply(lambda x : pd.Series(x['genres']), axis=1).stack().reset_index(level=1, drop=True)
# 인덱스 1단계 제거(첫번째 열)
s

0        Animation
0           Comedy
0           Family
1        Adventure
1          Fantasy
           ...
45461       Family
45462        Drama
45463       Action
45463        Drama
45463     Thriller
Length: 91106, dtype: object

In [0]:
s.name = 'genre'
gen_md = md.drop('genres', axis = 1).join(s)
gen_md

       adult  ...      genre
0      False  ...  Animation
0      False  ...     Comedy
0      False  ...     Family
1      False  ...  Adventure
1      False  ...    Fantasy
...      ...  ...        ...
45463  False  ...     Action
45463  False  ...      Drama
45463  False  ...   Thriller
45464  False  ...        NaN
45465  False  ...        NaN

[93548 rows x 25 columns]

In [0]:
def build_chart(genre, percentile=0.86):
  df = gen_md[gen_md['genre'] == genre]
  vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
  vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
  C = vote_averages.mean()
  m = vote_counts.quantile(percentile)

# 여러 개의 칼럼 데이터 추추 시 대괄호 두번[[]]
  qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'year', 'vote_count', 'vote_average', 'popularity']]
  qualified['vote_count'] = qualified['vote_count'].astype('int')
  qualified['vote_average'] = qualified['vote_average'].astype('int')

  qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m)*x['vote_average'])+(m/(m+x['vote_count'])*C), axis=1)
  qualified = qualified.sort_values('wr', ascending=False).head(250)

  return qualified

Top Romance Movies

In [0]:
build_chart('Romance').head(15)

                             title  year  ...  popularity        wr
10309  Dilwale Dulhania Le Jayenge  1995  ...      34.457  8.518318
351                   Forrest Gump  1994  ...     48.3072  7.967827
876                        Vertigo  1958  ...     18.2082  7.790072
40251                   Your Name.  2016  ...   34.461252  7.765598
883               Some Like It Hot  1959  ...     11.8451  7.716829
1132               Cinema Paradiso  1988  ...      14.177  7.716527
19901                     Paperman  2012  ...     7.19863  7.682628
37863                  Sing Street  2016  ...   10.672862  7.655880
882                  The Apartment  1960  ...     11.9943  7.557845
38718               The Handmaiden  2016  ...   16.727405  7.522010
3189                   City Lights  1931  ...     10.8915  7.514135
24886             The Way He Looks  2014  ...     5.71127  7.271362
1639                       Titanic  1997  ...     26.8891  6.979274
19731      Silver Linings Playbook  2012  ...     14.4881  6.966987
40882                   La La Land  2016  ...   19.681686  6.966340

[15 rows x 6 columns]

In [0]:
links_small = pd.read_csv('/content/drive/My Drive/Colab Notebooks/MovieRcmmd/data/data/links_small.csv')
links_small
# imdbid : internet movie data base
# tmdbid : the movie data base

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

In [0]:
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')
links_small

0          862
1         8844
2        15602
3        31357
4        11862
         ...
9120    402672
9121    315011
9122    391698
9123    137608
9124    410803
Name: tmdbId, Length: 9112, dtype: int64

In [0]:
# 여러 개의 행 추출 시 대괄호 두 번 [[]]
md.loc[[19730, 29503, 35587]] #id가 날짜 형식

                                                   adult  ... year
19730                                 - Written by Ørnås  ...  NaT
29503   Rune Balot goes to a casino connected to the ...  ...  NaT
35587   Avalanche Sharks tells the story of a bikini ...  ...  NaT

[3 rows x 25 columns]

In [0]:
md = md.drop([19730, 29503, 35587])

In [0]:
md['id'] = md['id'].astype('int')

In [0]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9099, 25)

In [0]:
smd.loc[1]['title']

'Jumanji'

In [0]:
smd.loc[1]['overview'] # overview : 개요

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures."

In [0]:
smd.loc[1]['tagline'] # tagline : 광고 구호, 슬로건

'Roll the dice and unleash the excitement!'

In [0]:
smd['tagline'] = smd['tagline'].fillna('')
smd['description'] = smd['overview'] + smd['tagline']
smd['description'] = smd['description'].fillna('')

In [0]:
# tf-idf 인코딩 : 단어 갯수 그대로 카운트하지 않고 모든 문서에 공통적으로 들어있는 단어의 경우 문서 구별 능력이 떨어진다고 보아 가중치를 축소하는 방법
# analyzer='word'/'char'/'char_wb'(단어 내의 문자)
# ngram_range=(min_n, max_n)
# min_df=[0.0,1.0]사이의 실수. 디폴트 1, 단어장에 포함되기 위한 최소 빈도
# stop_words='english' : 영어용 스탑 워드 사용
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(smd['description'])

In [0]:
tf.vocabulary_ # 단어를 인덱싱, type은 dict

{'led': 136477,
 'woody': 263021,
 'andy': 10545,
 'toys': 242493,
 'live': 140882,
 'happily': 106340,
 'room': 203269,
 'birthday': 24045,
 'brings': 29222,
 'buzz': 32147,
 'lightyear': 139593,
 'scene': 207235,
 'afraid': 6268,
 'losing': 143903,
 'place': 180436,
 'heart': 108234,
 'plots': 182226,
 'circumstances': 40897,
 'separate': 211425,
 'owner': 173335,
 'duo': 70725,
 'eventually': 78024,
 'learns': 135993,
 'aside': 14372,
 'differences': 63703,
 'led woody': 136575,
 'woody andy': 263023,
 'andy toys': 10578,
 'toys live': 242500,
 'live happily': 140969,
 'happily room': 106359,
 'room andy': 203273,
 'andy birthday': 10548,
 'birthday brings': 24049,
 'brings buzz': 29230,
 'buzz lightyear': 32153,
 'lightyear scene': 139595,
 'scene afraid': 207239,
 'afraid losing': 6282,
 'losing place': 143950,
 'place andy': 180445,
 'andy heart': 10561,
 'heart woody': 108388,
 'woody plots': 263030,
 'plots buzz': 182227,
 'buzz circumstances': 32149,
 'circumstances separate': 40915,
 'separate buzz': 211426,
 'buzz woody': 32156,
 'woody owner': 263028,
 'owner duo': 173370,
 'duo eventually': 70735,
 'eventually learns': 78094,
 'learns aside': 135999,
 'aside differences': 14374,
 'siblings': 215390,
 'judy': 127863,
 'peter': 178843,
 'discover': 64992,
 'enchanted': 74263,
 'board': 25452,
 'game': 95889,
 'opens': 171065,
 'door': 68082,
 'magical': 147117,
 'world': 263896,
 'unwittingly': 250401,
 'invite': 122532,
 'alan': 7739,
 'adult': 5333,
 'trapped': 243569,
 'inside': 120382,
 '26': 1880,
 'years': 266138,
 'living': 141637,
 'hope': 113350,
 'freedom': 93087,
 'finish': 88661,
 'proves': 188800,
 'risky': 201326,
 'running': 204507,
 'giant': 98375,
 'rhinoceroses': 200199,
 'evil': 78310,
 'monkeys': 159144,
 'terrifying': 236702,
 'creatures': 52652,
 'roll': 202697,
 'dice': 63269,
 'unleash': 249558,
 'excitement': 78986,
 'siblings judy': 215396,
 'judy peter': 127878,
 'peter discover': 178857,
 'discover enchanted': 65049,
 'enchanted board': 74264,
 'board game': 25465,
 'game opens': 96008,
 'opens door': 171079,
 'door magical': 68114,
 'magical world': 147166,
 'world unwittingly': 264623,
 'unwittingly invite': 250413,
 'invite alan': 122533,
 'alan adult': 7740,
 'adult trapped': 5363,
 'trapped inside': 243593,
 'inside game': 120414,
 'game 26': 95890,
 '26 years': 1887,
 'years living': 266346,
 'living room': 141817,
 'room alan': 203272,
 'alan hope': 7754,
 'hope freedom': 113383,
 'freedom finish': 93111,
 'finish game': 88671,
 'game proves': 96020,
 'proves risky': 188834,
 'risky running': 201333,
 'running giant': 204525,
 'giant rhinoceroses': 98421,
 'rhinoceroses evil': 200200,
 'evil monkeys': 78465,
 'monkeys terrifying': 159148,
 'terrifying creatures': 236713,
 'creatures roll': 52702,
 'roll dice': 202703,
 'dice unleash': 63270,
 'unleash excitement': 249563,
 'family': 82306,
 'wedding': 258408,
 'reignites': 195598,
 'ancient': 10312,
 'feud': 85999,
 'neighbors': 165461,
 'fishing': 88969,
 'buddies': 30705,
 'john': 126524,
 'max': 152389,
 'sultry': 230358,
 'italian': 123642,
 'divorcée': 66549,
 'restaurant': 198491,
 'local': 142139,
 'bait': 18138,
 'shop': 214654,
 'alarming': 7772,
 'locals': 142347,
 'worry': 264783,
 'll': 141921,
 'scare': 207132,
 'fish': 88919,
 'away': 17083,
 'interested': 121325,
 'seafood': 208796,
 'cooking': 49619,
 'hot': 114214,
 'time': 239488,
 'yelling': 266525,
 'fighting': 86625,
 'ready': 193033,
 'love': 144424,
 'family wedding': 82992,
 'wedding reignites': 258468,
 'reignites ancient': 195599,
 'ancient feud': 10338,
 'feud door': 86002,
 'door neighbors': 68118,
 'neighbors fishing': 165472,
 'fishing buddies': 88972,
 'buddies john': 30721,
 'john max': 126658,
 'max sultry': 152459,
 'sultry italian': 230363,
 'italian divorcée': 123657,
 'divorcée opens': 66552,
 'opens restaurant': 171095,
 'restaurant local': 198517,
 'local bait': 142152,
 'bait shop': 18142,
 'shop alarming': 214656,
 'alarming locals': 7776,
 'locals worry': 142365,
 'worry ll': 264792,
 'll scare': 142012,
 'scare fish': 207137,
 'fish away': 88921,
 'away interested': 17172,
 'interested seafood': 121345,
 'seafood cooking': 208797,
 'cooking hot': 49625,
 'hot time': 114254,
 'time max': 239865,
 'max yelling': 152471,
 'yelling fighting': 266526,
 'fighting ready': 86697,
 'ready love': 193075,
 'cheated': 38652,
 'mistreated': 157932,
 'stepped': 225245,
 'women': 262450,
 'holding': 111987,
 'breath': 28599,
 'waiting': 255123,
 'elusive': 73399,
 'good': 101090,
 'man': 148481,
 'break': 28352,
 'string': 228002,
 'stellar': 225113,
 'lovers': 145427,
 'friends': 93940,
 'confidants': 47398,
 'vannah': 251817,
 'bernie': 22657,
 'glo': 99928,
 'robin': 202103,
 'talk': 234004,
 'determined': 62472,
 'better': 23085,
 'way': 257361,
 'breathe': 28605,
 'people': 177471,
 'let': 137596,
 'forget': 91618,
 'cheated mistreated': 38656,
 'mistreated stepped': 157936,
 'stepped women': 225250,
 'women holding': 262561,
 'holding breath': 111991,
 'breath waiting': 28604,
 'waiting elusive': 255138,
 'elusive good': 73403,
 'good man': 101165,
 'man break': 148569,
 'break string': 28437,
 'string stellar': 228012,
 'stellar lovers': 225115,
 'lovers friends': 145440,
 'friends confidants': 94014,
 'confidants vannah': 47399,
 'vannah bernie': 251818,
 'bernie glo': 22661,
 'glo robin': 99929,
 'robin talk': 202124,
 'talk determined': 234017,
 'determined better': 62481,
 'better way': 23154,
 'way breathe': 257406,
 'breathe friends': 28607,
 'friends people': 94243,
 'people let': 177640,
 'let let': 137628,
 'let forget': 137609,
 'just': 128304,
 'george': 97452,
 'banks': 18784,
 'recovered': 194624,
 'daughter': 56433,
 'receives': 194089,
 'news': 166546,
 'pregnant': 185081,
 'wife': 259799,
 'nina': 167462,
 'expecting': 79586,
 'planning': 181144,
 'selling': 210724,
 'home': 112362,
 'plan': 180769,
 'like': 139602,
 'change': 37432,
 'arrival': 13548,
 'grandchild': 102153,
 'kid': 129987,
 'normal': 167867,
 'surprise': 231333,
 'life': 138185,
 'just george': 128441,
 'george banks': 97461,
 'banks recovered': 18795,
 'recovered daughter': 194627,
 'daughter wedding': 56780,
 'wedding receives': 258466,
 'receives news': 194111,
 'news pregnant': 166590,
 'pregnant george': 185098,
 'george wife': 97551,
 'wife nina': 260112,
 'nina expecting': 167467,
 'expecting planning': 79596,
 'planning selling': 181167,
 'selling home': 210742,
 'home plan': 112633,
 'plan like': 180833,
 'like george': 139708,
 'george change': 97467,
 'change arrival': 37436,
 'arrival grandchild': 13567,
 'grandchild kid': 102154,
 'kid just': 130025,
 'just world': 128679,
 'world normal': 264362,
 'normal surprise': 167908,
 'surprise life': 231352,
 'obsessive': 169141,
 'master': 151693,
 'thief': 237645,
 'neil': 165520,
 'mccauley': 152684,
 'leads': 135532,
 'notch': 168132,
 'crew': 52800,
 'various': 251883,
 'insane': 120274,
 'heists': 108884,
 'los': 143761,
 'angeles': 10673,
 'mentally': 154912,
 'unstable': 250110,
 'detective': 62246,
 'vincent': 253663,
 'hanna': 105987,
 'pursues': 189914,
 'rest': 198436,
 'recognizes': 194370,
 'respects': 198337,
 'ability': 2760,
 'dedication': 59602,
 'aware': 17058,
 'cat': 35538,
 'mouse': 160709,
 'end': 74477,
 'violence': 253746,
 'crime': 52986,
 'saga': 205464,
 'obsessive master': 169145,
 'master thief': 151784,
 'thief neil': 237685,
 'neil mccauley': 165528,
 'mccauley leads': 152685,
 'leads notch': 135630,
 'notch crew': 168133,
 'crew various': 52946,
 'various insane': 251915,
 'insane heists': 120286,
 'heists los': 108887,
 'los angeles': 143762,
 'angeles mentally': 10742,
 'mentally unstable': 154926,
 'unstable detective': 250111,
 'detective vincent': 62367,
 'vincent hanna': 253677,
 'hanna pursues': 105992,
 'pursues rest': 189933,
 'rest man': 198457,
 'man recognizes': 149133,
 'recognizes respects': 194378,
 'respects ability': 198338,
 'ability dedication': 2768,
 'dedication aware': 59603,
 'aware cat': 17059,
 'cat mouse': 35568,
 'mouse game': 160720,
 'game end': 95934,
 'end violence': 74666,
 'violence los': 253784,
 'angeles crime': 10701,
 'crime saga': 53109,
 'ugly': 247505,
 'duckling': 70482,
 'having': 107434,
 'undergone': 248381,
 'remarkable': 196718,
 'harbors': 106544,
 'feelings': 85345,
 'crush': 54003,
 'carefree': 34432,
 'playboy': 181603,
 'business': 31669,
 'focused': 90045,
 'brother': 29883,
 'say': 206914,
 'cordially': 50070,
 'invited': 122543,
 'surprising': 231392,
 'merger': 155107,
 'year': 265897,
 'ugly duckling': 247510,
 'duckling having': 70483,
 'having undergone': 107555,
 'undergone remarkable': 248383,
 'remarkable change': 196724,
 'change harbors': 37469,
 'harbors feelings': 106547,
 'feelings crush': 85353,
 'crush carefree': 54010,
 'carefree playboy': 34439,
 'playboy business': 181609,
 'business focused': 31722,
 'focused brother': 90047,
 'brother say': 30070,
 'say cordially': 206922,
 'cordially invited': 50071,
 'invited surprising': 122572,
 'surprising merger': 231403,
 'merger year': 155110,
 'mischievous': 157294,
 'young': 266929,
 'boy': 27396,
 'tom': 240807,
 'sawyer': 206898,
 'witnesses': 261655,
 'murder': 161714,
 'deadly': 57903,
 'injun': 119992,
 'joe': 126348,
 'huckleberry': 115013,
 'finn': 88718,
 'future': 95294,
 'choose': 40004,
 'honoring': 113197,
 'friendship': 94401,
 'oath': 168838,
 'town': 241943,
 'alcoholic': 7946,
 'accused': 3791,
 'huck': 115008,
 'adventures': 5677,
 'trying': 246006,
 'retrieve': 199029,
 'evidence': 78249,
 'original': 172077,
 'bad': 17863,
 'boys': 27851,
 'mischievous young': 157311,
 'young boy': 266979,
 'boy tom': 27651,
 'tom sawyer': 240893,
 'sawyer witnesses': 206900,
 'witnesses murder': 261685,
 'murder deadly': 161778,
 'deadly injun': 57952,
 'injun joe': 119993,
 'joe tom': 126443,
 'tom friends': 240840,
 'friends huckleberry': 94136,
 'huckleberry finn': 115014,
 'finn boy': 88720,
 'boy future': 27490,
 'future family': 95342,
 'family tom': 82923,
 'tom choose': 240822,
 'choose honoring': 40024,
 'honoring friendship': 113198,
 'friendship honoring': 94461,
 'honoring oath': 113200,
 'oath town': 168841,
 'town alcoholic': 241957,
 'alcoholic accused': 7947,
 'accused murder': 3804,
 'murder tom': 161985,
 'tom huck': 240853,
 'huck adventures': 115009,
 'adventures trying': 5750,
 'trying retrieve': 246126,
 'retrieve evidence': 199037,
 'evidence original': 78279,
 'original bad': 172086,
 'bad boys': 17877,
 'international': 121459,
 'action': 4105,
 'superstar': 230887,
 'jean': 125060,
 'claude': 42205,
 'van': 251716,
 'damme': 55300,
 'teams': 235293,
 'powers': 184661,
 'boothe': 26567,
 'tension': 236412,
 'packed': 173700,
 'suspense': 232085,
 'thriller': 238847,
 'set': 212106,
 'drop': 70032,
 'stanley': 223474,
 'cup': 54378,
 'portrays': 183748,
 'father': 84078,
 'suddenly': 229885,
 'taken': 233152,
 'championship': 37212,
 'hockey': 111828,
 'captors': 33839,
 'demanding': 60448,
 'billion': 23710,
 'dollars': 67583,
 'frantically': 92765,
 'sets': 212426,
 'motion': 160446,
 'rescue': 197707,
 'abort': 2917,
 'impending': 117827,
 'explosion': 80286,
 'final': 87740,
 'buzzer': 32159,
 'terror': 236799,
 'goes': 100350,
 'overtime': 173213,
 'international action': 121460,
 'action superstar': 4195,
 'superstar jean': 230896,
 'jean claude': 125066,
 'claude van': 42216,
 'van damme': 251723,
 'damme teams': 55305,
 'teams powers': 235325,
 'powers boothe': 184668,
 'boothe tension': 26568,
 'tension packed': 236425,
 'packed suspense': 173719,
 'suspense thriller': 232100,
 'thriller set': 238895,
 'set drop': 212208,
 'drop stanley': 70043,
 'stanley cup': 223480,
 'cup game': 54384,
 'game van': 96066,
 'damme portrays': 55304,
 'portrays father': 183752,
 'father daughter': 84190,
 'daughter suddenly': 56742,
 'suddenly taken': 229955,
 'taken championship': 233174,
 'championship hockey': 37221,
 'hockey game': 111832,
 'game captors': 95907,
 'captors demanding': 33843,
 'demanding billion': 60450,
 'billion dollars': 23714,
 'dollars game': 67589,
 'end van': 74662,
 'damme frantically': 55302,
 'frantically sets': 92767,
 'sets plan': 212506,
 'plan motion': 180851,
 'motion rescue': 160462,
 'rescue daughter': 197726,
 'daughter abort': 56439,
 'abort impending': 2918,
 'impending explosion': 117834,
 'explosion final': 80290,
 'final buzzer': 87754,
 'buzzer terror': 32160,
 'terror goes': 236820,
 'goes overtime': 100500,
 'james': 124374,
 'bond': 26130,
 'unmask': 249765,
 'mysterious': 163010,
 'head': 107739,
 'janus': 124675,
 'syndicate': 232875,
 'prevent': 185879,
 'leader': 135306,
 'utilizing': 251229,
 'goldeneye': 100940,
 'weapons': 258176,
 'inflict': 119580,
 'devastating': 62675,
 'revenge': 199725,
 'britain': 29364,
 'limits': 140104,
 'fears': 85035,
 'substitutes': 229440,
 'james bond': 124382,
 'bond unmask': 26223,
 'unmask mysterious': 249768,
 'mysterious head': 163111,
 'head janus': 107802,
 'janus syndicate': 124676,
 'syndicate prevent': 232882,
 'prevent leader': 185911,
 'leader utilizing': 135417,
 'utilizing goldeneye': 251230,
 'goldeneye weapons': 100941,
 'weapons inflict': 258193,
 'inflict devastating': 119581,
 'devastating revenge': 62688,
 'revenge britain': 199739,
 'britain limits': 29378,
 'limits fears': 140111,
 'fears substitutes': 85063,
 'widowed': 259711,
 'president': 185549,
 'andrew': 10484,
 'shepherd': 213976,
 'powerful': 184517,
 'men': 154477,
 'wants': 255905,
 'covets': 51806,
 'sydney': 232767,
 'ellen': 73227,
 'wade': 254988,
 'washington': 256936,
 'lobbyist': 142127,
 'attempts': 15707,
 'courting': 51582,
 'spark': 221296,
 'wild': 260302,
 'rumors': 204257,
 'decimate': 59409,
 'approval': 12513,
 'ratings': 192601,
 'thing': 237762,
 'widowed president': 259727,
 'president andrew': 185555,
 'andrew shepherd': 10509,
 'shepherd world': 213982,
 'world powerful': 264425,
 'powerful men': 184597,
 'men wants': 154810,
 'wants covets': 255952,
 'covets sydney': 51809,
 'sydney ellen': 232769,
 'ellen wade': 73255,
 'wade washington': 255009,
 'washington lobbyist': 256956,
 'lobbyist shepherd': 142130,
 'shepherd attempts': 213978,
 'attempts courting': 15732,
 'courting spark': 51585,
 'spark wild': 221301,
 'wild rumors': 260369,
 'rumors decimate': 204261,
 'decimate approval': 59410,
 'approval ratings': 12515,
 'ratings powerful': 192607,
 'powerful man': 184592,
 'man world': 149397,
 'world thing': 264587,
 'thing wants': 237880,
 'lawyer': 135003,
 'shows': 215097,
 'vampire': 251610,
 'doorstep': 68154,
 'falls': 82004,
 'prey': 185995,
 'charms': 38413,
 'joins': 126987,
 'search': 208876,
 'fresh': 93411,
 'blood': 25060,
 'enter': 75844,
 'dr': 68579,
 'helsing': 109690,
 'able': 2803,
 'vanquish': 251821,
 'count': 50687,
 'lawyer shows': 135094,
 'shows vampire': 215181,
 'vampire doorstep': 251626,
 'doorstep falls': 68156,
 'falls prey': 82103,
 'prey charms': 185998,
 'charms joins': 38420,
 'joins search': 127040,
 'search fresh': 208921,
 'fresh blood': 93415,
 'blood enter': 25084,
 'enter dr': 75850,
 'dr van': 68710,
 'van helsing': 251732,
 'helsing able': 109691,
 'able vanquish': 2855,
 'vanquish count': 251822,
 'outcast': 172553,
 'half': 105276,
 'wolf': 261813,
 'risks': 201313,
 'epidemic': 76371,
 'ravaging': 192671,
 'nome': 167713,
 'alaska': 7780,
 'dog': 67291,
 'hero': 109996,
 'outcast half': 172559,
 'half wolf': 105334,
 'wolf risks': 261834,
 'risks life': 201323,
 'life prevent': 138963,
 'prevent deadly': 185889,
 'deadly epidemic': 57937,
 'epidemic ravaging': 76379,
 'ravaging nome': 192672,
 'nome alaska': 167714,
 'alaska dog': 7782,
 'dog wolf': 67389,
 'wolf hero': 261823,
 'star': 223509,
 'cast': 35369,
 'epic': 76305,
 'look': 143179,
 'american': 9586,
 'richard': 200364,
 'nixon': 167571,
 'carrying': 34906,
 'fate': 83934,
 'shoulders': 214968,
 'battling': 20065,
 'self': 210557,
 'destructive': 62152,
 'demands': 60463,
 'spanning': 221255,
 'troubled': 245252,
 'boyhood': 27831,
 'california': 32474,
 'shocking': 214471,
 'watergate': 257239,
 'scandal': 207066,
 'presidency': 185542,
 'triumphant': 245024,
 'victory': 253071,
 'bitter': 24210,
 'defeat': 59813,
 'changed': 37539,
 'lost': 144004,
 'nation': 164216,
 'star cast': 223534,
 'cast powers': 35409,
 'powers epic': 184680,
 'epic look': 76337,
 'look american': 143187,
 'american president': 9805,
 'president richard': 185610,
 'richard nixon': 200407,
 'nixon man': 167575,
 'man carrying': 148593,
 'carrying fate': 34916,
 'fate world': 84036,
 'world shoulders': 264518,
 'shoulders battling': 214969,
 'battling self': 20077,
 'self destructive': 210581,
 'destructive demands': 62160,
 'demands spanning': 60489,
 'spanning troubled': 221265,
 'troubled boyhood': 245260,
 'boyhood california': 27832,
 'california shocking': 32540,
 'shocking watergate': 214524,
 'watergate scandal': 257240,
 'scandal end': 207072,
 'end presidency': 74610,
 'presidency triumphant': 185548,
 'triumphant victory': 245031,
 'victory bitter': 253073,
 'bitter defeat': 24215,
 'defeat changed': 59820,
 'changed world': 37583,
 'world lost': 264301,
 'lost nation': 144082,
 'morgan': 159705,
 'adams': 4732,
 'slave': 217613,
 'william': 260555,
 'shaw': 213782,
 'quest': 190531,
 'recover': 194593,
 'portions': 183661,
 'treasure': 244019,
 'map': 150027,
 'unfortunately': 248988,
 'portion': 183659,
 'held': 108898,
 'murderous': 162214,
 'uncle': 247961,
 'dawg': 57061,
 'skeptical': 217173,
 'leadership': 135443,
 'abilities': 2737,
 'complete': 46601,
 'mutiny': 162916,
 'difficult': 63862,
 'efforts': 72561,
 'british': 29391,
 'crown': 53817,
 'pirate': 180230,
 'raids': 191684,
 'course': 51416,
 'turning': 246749,
 'prepare': 185257,
 'summon': 230508,
 'courage': 51338,
 'adventure': 5492,
 'lifetime': 139407,
 'morgan adams': 159706,
 'adams slave': 4747,
 'slave william': 217641,
 'william shaw': 260593,
 'shaw quest': 213788,
 'quest recover': 190586,
 'recover portions': 194612,
 'portions treasure': 183662,
 'treasure map': 244032,
 'map unfortunately': 150054,
 'unfortunately final': 249009,
 'final portion': 87805,
 'portion held': 183660,
 'held murderous': 108916,
 'murderous uncle': 162240,
 'uncle dawg': 247983,
 'dawg crew': 57062,
 'crew skeptical': 52922,
 'skeptical leadership': 217181,
 'leadership abilities': 135444,
 'abilities complete': 2739,
 'complete quest': 46633,
 'quest mutiny': 190573,
 'mutiny difficult': 162918,
 'difficult efforts': 63874,
 'efforts british': 72564,
 'british crown': 29424,
 'crown end': 53821,
 'end pirate': 74604,
 'pirate raids': 180246,
 'raids course': 191686,
 'course set': 51480,
 'set turning': 212386,
 'turning prepare': 246774,
 'prepare weapons': 185298,
 'weapons summon': 258214,
 'summon courage': 230510,
 'courage discover': 51349,
 'discover adventure': 64999,
 'adventure lifetime': 5590,
 'gambling': 95865,
 'paradise': 174489,
 'las': 134157,
 'vegas': 252154,
 'dark': 56027,
 'mafia': 146896,
 'underbelly': 248270,
 'stays': 224823,
 'forever': 91518,
 'life gambling': 138599,
 'gambling paradise': 95878,
 'paradise las': 174502,
 'las vegas': 134158,
 'vegas dark': 252166,
 'dark mafia': 56073,
 'mafia underbelly': 146938,
 'underbelly stays': 248271,
 'stays forever': 224828,
 'rich': 200270,
 'mr': 161334,
 'dashwood': 56281,
 'dies': 63595,
 'leaving': 136380,
 'second': 209275,
 'daughters': 56789,
 'poor': 183296,
 'rules': 204165,
 'inheritance': 119849,
 'titular': 240528,
 'opposites': 171407,
 'lose': 143764,
 'come': 44634,
 'senses': 211151,
 'rich mr': 200335,
 'mr dashwood': 161357,
 'dashwood dies': 56282,
 'dies leaving': 63636,
 'leaving second': 136427,
 'second wife': 209355,
 'wife daughters': 259893,
 'daughters poor': 56816,
 'poor rules': 183341,
 'rules inheritance': 204196,
 'inheritance daughters': 119853,
 'daughters titular': 56825,
 'titular opposites': 240531,
 'opposites lose': 171414,
 'lose heart': 143786,
 'heart come': 108252,

In [0]:
tfidf_matrix.shape # 9099개의 문장이 268124 토큰으로 표현됨

(9099, 268124)

In [0]:
print(np.array(tfidf_matrix)) # (m, n) xxx : 문장 m에서의 단어 n의 tfidf값

  (0, 14374)	0.12185152744271287
  (0, 135999)	0.13497681053459026
  (0, 78094)	0.13497681053459026
  (0, 70735)	0.13497681053459026
  (0, 173370)	0.13497681053459026
  (0, 263028)	0.13497681053459026
  (0, 32156)	0.13497681053459026
  (0, 211426)	0.13497681053459026
  (0, 40915)	0.13497681053459026
  (0, 32149)	0.13497681053459026
  (0, 182227)	0.13497681053459026
  (0, 263030)	0.13497681053459026
  (0, 108388)	0.13497681053459026
  (0, 10561)	0.13497681053459026
  (0, 180445)	0.13497681053459026
  (0, 143950)	0.13497681053459026
  (0, 6282)	0.13497681053459026
  (0, 207239)	0.13497681053459026
  (0, 139595)	0.13497681053459026
  (0, 32153)	0.1291687802417233
  (0, 29230)	0.13497681053459026
  (0, 24049)	0.13497681053459026
  (0, 10548)	0.13497681053459026
  (0, 203273)	0.13497681053459026
  (0, 106359)	0.13497681053459026
  :	:
  (9097, 137596)	0.048461572127086204
  (9097, 239488)	0.05798939970295126
  (9097, 52652)	0.050857909833882636
  (9097, 78310)	0.0379398695854721
  (9097, 263896)	0.02651436570868071
  (9097, 29222)	0.0453986404335463
  (9098, 16734)	0.2561682719130367
  (9098, 51829)	0.2561682719130367
  (9098, 4548)	0.2561682719130367
  (9098, 58280)	0.2561682719130367
  (9098, 82446)	0.2561682719130367
  (9098, 232419)	0.2561682719130367
  (9098, 8978)	0.2561682719130367
  (9098, 112126)	0.2561682719130367
  (9098, 51828)	0.2561682719130367
  (9098, 112125)	0.2561682719130367
  (9098, 16733)	0.23647723317395344
  (9098, 232413)	0.20689144076310745
  (9098, 93245)	0.24799575243656474
  (9098, 8975)	0.2320980953901389
  (9098, 28512)	0.1651072431436006
  (9098, 93239)	0.1454162044045173
  (9098, 58279)	0.1889226362193149
  (9098, 4542)	0.19075605710816051
  (9098, 82306)	0.09589205091419437

In [0]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [0]:
cosine_sim[0]
# 1 :첫번째 문장 자기자신과의 코사인 유사도
# 0.00680476 :첫번째 문장과 두 번째 문장과의 코사인 유사도

array([1.        , 0.00680476, 0.        , ..., 0.        , 0.00344913,
       0.        ])

In [0]:
cosine_sim[9098]

array([0.        , 0.        , 0.00472155, ..., 0.        , 0.        ,
       1.        ])

In [0]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [0]:
smd

      index  adult  ...  year                                        description
0         0  False  ...  1995  Led by Woody, Andy's toys live happily in his ...
1         1  False  ...  1995  When siblings Judy and Peter discover an encha...
2         2  False  ...  1995  A family wedding reignites the ancient feud be...
3         3  False  ...  1995  Cheated on, mistreated and stepped on, the wom...
4         4  False  ...  1995  Just when George Banks has recovered from his ...
...     ...    ...  ...   ...                                                ...
9094  40224  False  ...  2016  From the mind behind Evangelion comes a hit la...
9095  40503  False  ...  2016  The band stormed Europe in 1963, and, in 1964,...
9096  44821  False  ...  2000  When Molly Hale's sadness of her father's disa...
9097  44826  False  ...  2001  All your favorite Pokémon characters are back,...
9098  45265  False  ...  2014  While holidaying in the French Alps, a Swedish...

[9099 rows x 27 columns]

In [0]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
                                                      ...
Shin Godzilla                                         9094
The Beatles: Eight Days a Week - The Touring Years    9095
Pokémon: Spell of the Unknown                         9096
Pokémon 4Ever: Celebi - Voice of the Forest           9097
Force Majeure                                         9098
Length: 9099, dtype: int64

In [0]:
def get_recommendations(title):
  idx = indices[title] #해당 title 인덱스
  sim_scores = list(enumerate(cosine_sim[idx])) #해당 title 과 다른 영화와의 유사도 인덱싱
  # (1, 0.00282712634654008) :해당 title과 1번째 영화와의 유사도가 0.002827126346...
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) #유사도를 기준으로 내림차순으로 정렬
  sim_scores = sim_scores[1:31] #자기자신과의 유사도(1)을 제외하고, 유사도가 가장 높은 것부터 30개 추출
  movie_indices = [i[0] for i in sim_scores] #유사도 상위30개 영화에 대한 인덱스
  return titles.iloc[movie_indices]

In [0]:
list(enumerate(cosine_sim[indices['The Godfather']]))

[(0, 0.0),
 (1, 0.00282712634654008),
 (2, 0.013274406850346377),
 (3, 0.0),
 (4, 0.001911923808690747),
 (5, 0.009831202255696751),
 (6, 0.0),
 (7, 0.0048937541840076175),
 (8, 0.0),
 (9, 0.007200486377613863),
 (10, 0.0),
 (11, 0.0),
 (12, 0.002629662427098924),
 (13, 0.01655348503181121),
 (14, 0.0),
 (15, 0.003311321356213731),
 (16, 0.0),
 (17, 0.0017852909522175192),
 (18, 0.0),
 (19, 0.0),
 (20, 0.00138960229604634),
 (21, 0.02347433335488712),
 (22, 0.002909885967091068),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.011643868586706513),
 (28, 0.0),
 (29, 0.056141832299658065),
 (30, 0.0),
 (31, 0.0028878395660696552),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0038924168745627535),
 (36, 0.0),
 (37, 0.0),
 (38, 0.02717387932966191),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0020748439693151896),
 (42, 0.0),
 (43, 0.0),
 (44, 0.002612852388514977),
 (45, 0.0),
 (46, 0.01116205834731158),
 (47, 0.0),
 (48, 0.017220777855400132),
 (49, 0.003365386412223826),
 (50, 0.006507663461137723),
 (51, 0.006631895381637897),
 (52, 0.0),
 (53, 0.006437279085166214),
 (54, 0.013040187304503736),
 (55, 0.0),
 (56, 0.002830529896513966),
 (57, 0.0),
 (58, 0.0016341710447209138),
 (59, 0.001336823001455865),
 (60, 0.0),
 (61, 0.005571864499865456),
 (62, 0.0054085125464932654),
 (63, 0.0),
 (64, 0.0),
 (65, 0.008720246245398166),
 (66, 0.0),
 (67, 0.0014885224573990786),
 (68, 0.001817306454800401),
 (69, 0.0),
 (70, 0.0017605504862671035),
 (71, 0.008247689534620005),
 (72, 0.003838492577499594),
 (73, 0.0035435309561023236),
 (74, 0.0),
 (75, 0.0),
 (76, 0.005663211820821277),
 (77, 0.005448502124455453),
 (78, 0.015901594474569587),
 (79, 0.009871792566223487),
 (80, 0.0),
 (81, 0.014629266154415344),
 (82, 0.015537330677950958),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.012885600575678585),
 (87, 0.0),
 (88, 0.0),
 (89, 0.0),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.010113960778707574),
 (94, 0.0),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0021714602737906816),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.007179322068415218),
 (104, 0.0),
 (105, 0.004907100803671469),
 (106, 0.0017059891295564944),
 (107, 0.002007071937773976),
 (108, 0.0072453897624824674),
 (109, 0.0),
 (110, 0.0),
 (111, 0.001518603393308597),
 (112, 0.0),
 (113, 0.00700719842299213),
 (114, 0.0),
 (115, 0.004726494693686941),
 (116, 0.005168117862895506),
 (117, 0.0),
 (118, 0.0),
 (119, 0.009860959847607324),
 (120, 0.0),
 (121, 0.0),
 (122, 0.005471009389339328),
 (123, 0.007483534681829208),
 (124, 0.005173853387190678),
 (125, 0.0018303436401868956),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.005270004993665839),
 (131, 0.0),
 (132, 0.0043119814606378815),
 (133, 0.0030134831687270965),
 (134, 0.011655309756383018),
 (135, 0.0),
 (136, 0.011105622490920753),
 (137, 0.0),
 (138, 0.0),
 (139, 0.0),
 (140, 0.021390312350561772),
 (141, 0.0014833569224649518),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (148, 0.009580645514052391),
 (149, 0.0),
 (150, 0.0),
 (151, 0.0010399730484805599),
 (152, 0.013156049779745901),
 (153, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0038158197684736665),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.005207711138450289),
 (163, 0.0011214239968539734),
 (164, 0.0),
 (165, 0.001339061299825872),
 (166, 0.0),
 (167, 0.01386175422952218),
 (168, 0.004785254898967511),
 (169, 0.009269737390948243),
 (170, 0.0),
 (171, 0.0013958072708871543),
 (172, 0.0),
 (173, 0.0),
 (174, 0.0),
 (175, 0.007937316013483998),
 (176, 0.0),
 (177, 0.006746694675009835),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.001911257222539219),
 (182, 0.0),
 (183, 0.007095547179250684),
 (184, 0.0),
 (185, 0.004092558660819854),
 (186, 0.005666697694512291),
 (187, 0.003827191725925032),
 (188, 0.0),
 (189, 0.007953474011610045),
 (190, 0.00955311349732264),
 (191, 0.0),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.0013868150167107493),
 (196, 0.0),
 (197, 0.0),
 (198, 0.002514349745189718),
 (199, 0.008072299111290539),
 (200, 0.0014745388135634645),
 (201, 0.0),
 (202, 0.011653986185481323),
 (203, 0.0),
 (204, 0.011212448537289147),
 (205, 0.0),
 (206, 0.0),
 (207, 0.0),
 (208, 0.006563084599089117),
 (209, 0.004169266959240899),
 (210, 0.0013315624269764673),
 (211, 0.008465028455083247),
 (212, 0.0),
 (213, 0.007820080185122884),
 (214, 0.01226676013737953),
 (215, 0.008242235746806213),
 (216, 0.0),
 (217, 0.0),
 (218, 0.006533016366699071),
 (219, 0.01140175269757331),
 (220, 0.009176852759634868),
 (221, 0.004279930602350399),
 (222, 0.0),
 (223, 0.006353274585625156),
 (224, 0.0),
 (225, 0.002796331346506333),
 (226, 0.0014366165758294826),
 (227, 0.037010379610304484),
 (228, 0.0),
 (229, 0.012068011493680579),
 (230, 0.0),
 (231, 0.010499865854078983),
 (232, 0.0),
 (233, 0.005448794313833378),
 (234, 0.0),
 (235, 0.01749521083252402),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (239, 0.0),
 (240, 0.01690637286616969),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0027183783730915377),
 (244, 0.0),
 (245, 0.0016748190878051),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.013466213907620673),
 (251, 0.011067815154092216),
 (252, 0.0027565602157129873),
 (253, 0.013731315417223156),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.005133070527857467),
 (258, 0.0),
 (259, 0.0),
 (260, 0.01978598159256314),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0053220535424410974),
 (264, 0.004167549263111929),
 (265, 0.003336281413452891),
 (266, 0.010668219237611468),
 (267, 0.002969452417598272),
 (268, 0.005513756141888574),
 (269, 0.0015354416020936475),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.004558017448806347),
 (276, 0.0),
 (277, 0.0051448486097758145),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0027264605501468196),
 (281, 0.017315061152984423),
 (282, 0.004252730223848674),
 (283, 0.003621152568212677),
 (284, 0.001495154712636123),
 (285, 0.0),
 (286, 0.012539444954340277),
 (287, 0.0012340180900637157),
 (288, 0.0028230133496618477),
 (289, 0.008200981384244174),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0035259032074624304),
 (295, 0.005477563394283194),
 (296, 0.0),
 (297, 0.006674481053272806),
 (298, 0.006511485492911229),
 (299, 0.0),
 (300, 0.02272135556810994),
 (301, 0.0),
 (302, 0.015059634509987332),
 (303, 0.01014604651083414),
 (304, 0.00571945087762786),
 (305, 0.005897471310685959),
 (306, 0.0016208219510587952),
 (307, 0.006532271817838189),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.0),
 (312, 0.0),
 (313, 0.0011077855483388377),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0015669295511965063),
 (317, 0.0),
 (318, 0.006509537793381913),
 (319, 0.0),
 (320, 0.005137564945184333),
 (321, 0.001548029496054634),
 (322, 0.005014041543739162),
 (323, 0.006615069356559313),
 (324, 0.001938275923826359),
 (325, 0.0),
 (326, 0.0),
 (327, 0.014101253207826792),
 (328, 0.004990530336208954),
 (329, 0.0023274626322530353),
 (330, 0.004116635833002955),
 (331, 0.00885341388273581),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (335, 0.0),
 (336, 0.001854279786386229),
 (337, 0.0068157240071795855),
 (338, 0.00498315033461431),
 (339, 0.015328072114839743),
 (340, 0.021702039306386204),
 (341, 0.0),
 (342, 0.009092903115105043),
 (343, 0.006749812985768417),
 (344, 0.003996996416641088),
 (345, 0.0019313370890219838),
 (346, 0.0),
 (347, 0.006555341403131955),
 (348, 0.0),
 (349, 0.0),
 (350, 0.004680825010915532),
 (351, 0.0),
 (352, 0.005153460944700774),
 (353, 0.011226770650997248),
 (354, 0.012681100726084214),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0014746375913617812),
 (359, 0.004003903936625241),
 (360, 0.0),
 (361, 0.00518925852016423),
 (362, 0.0),
 (363, 0.0),
 (364, 0.0034910224624435547),
 (365, 0.0037847026383412085),
 (366, 0.002150218435186147),
 (367, 0.0),
 (368, 0.0),
 (369, 0.001649213422552146),
 (370, 0.0),
 (371, 0.003297905857864196),
 (372, 0.0027824655775765994),
 (373, 0.0),
 (374, 0.0),
 (375, 0.001294383473789405),
 (376, 0.00414239958553236),
 (377, 0.001966360504589186),
 (378, 0.010959908758126823),
 (379, 0.0),
 (380, 0.0021969409726329287),
 (381, 0.0051326762462934215),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0015472732777720708),
 (385, 0.0),
 (386, 0.007554124836141632),
 (387, 0.0),
 (388, 0.002295721227584865),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.014991974150731566),
 (393, 0.0),
 (394, 0.0053285685872599435),
 (395, 0.002995574383364892),
 (396, 0.0),
 (397, 0.0015392344245355827),
 (398, 0.0),
 (399, 0.001925094823091356),
 (400, 0.01601483831789749),
 (401, 0.0048841994873624435),
 (402, 0.0),
 (403, 0.020900518878152956),
 (404, 0.004361096329667735),
 (405, 0.01064327692256329),
 (406, 0.005107672531992805),
 (407, 0.0015316797043300194),
 (408, 0.0),
 (409, 0.002687645473145446),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.017882223580400744),
 (418, 0.0),
 (419, 0.0),
 (420, 0.004641250445858303),
 (421, 0.0),
 (422, 0.00451200553712129),
 (423, 0.011447404777179114),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0028739436284844194),
 (428, 0.0),
 (429, 0.01073776650589061),
 (430, 0.0),
 (431, 0.006025707178783669),
 (432, 0.012798137465028928),
 (433, 0.017458672533826797),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.002506224826921127),
 (439, 0.0),
 (440, 0.002023688278475013),
 (441, 0.0),
 (442, 0.0023861176455211067),
 (443, 0.011938913417599131),
 (444, 0.004858354262181932),
 (445, 0.0),
 (446, 0.002552213332192378),
 (447, 0.0),
 (448, 0.006625866286017218),
 (449, 0.0),
 (450, 0.0),
 (451, 0.012739836199427257),
 (452, 0.0),
 (453, 0.0),
 (454, 0.0),
 (455, 0.006289114735008693),
 (456, 0.005242859887865311),
 (457, 0.0),
 (458, 0.013560378187696884),
 (459, 0.0),
 (460, 0.008886869359247746),
 (461, 0.0),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.003109347554232853),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0023103686821598296),
 (473, 0.0),
 (474, 0.0),
 (475, 0.002644870601846977),
 (476, 0.016354531852008664),
 (477, 0.0),
 (478, 0.0028831714673722545),
 (479, 0.0036329062368332674),
 (480, 0.00908095502120719),
 (481, 0.0),
 (482, 0.011546280944398383),
 (483, 0.0),
 (484, 0.002515121295199992),
 (485, 0.0019054942747939005),
 (486, 0.0013310886061271379),
 (487, 0.0),
 (488, 0.0044861276809349615),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.002697154985921352),
 (493, 0.0),
 (494, 0.0),
 (495, 0.0),
 (496, 0.0),
 (497, 0.010038648715039044),
 (498, 0.0),
 (499, 0.013435477514627465),
 (500, 0.0),
 (501, 0.0),
 (502, 0.0013031485706912597),
 (503, 0.0024963054974856624),
 (504, 0.0),
 (505, 0.0),
 (506, 0.012581787827032499),
 (507, 0.003017972703785609),
 (508, 0.0),
 (509, 0.0030788083922865697),
 (510, 0.005037227460505858),
 (511, 0.011344924654645603),
 (512, 0.00310949655007786),
 (513, 0.0017452209097780942),
 (514, 0.008269227201317036),
 (515, 0.013646759733140156),
 (516, 0.0),
 (517, 0.004660045539324649),
 (518, 0.011315996475237637),
 (519, 0.013977786630117122),
 (520, 0.0),
 (521, 0.0),
 (522, 0.01366072459627539),
 (523, 0.0),
 (524, 0.0126222336243421),
 (525, 0.007878177674081081),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0012867603721375715),
 (529, 0.0),
 (530, 0.0),
 (531, 0.0),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.005494180679868824),
 (537, 0.0),
 (538, 0.0),
 (539, 0.001524929998676091),
 (540, 0.0),
 (541, 0.0),
 (542, 0.019109977055870454),
 (543, 0.004735867622057298),
 (544, 0.001588693186546567),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0029874286098216904),
 (548, 0.001250057815572754),
 (549, 0.0024750834323203595),
 (550, 0.009356282978738455),
 (551, 0.0050697244577885305),
 (552, 0.0),
 (553, 0.0),
 (554, 0.000962177849134489),
 (555, 0.015776465949821468),
 (556, 0.0),
 (557, 0.0),
 (558, 0.0029184838299723915),
 (559, 0.005315591457378976),
 (560, 0.0),
 (561, 0.0),
 (562, 0.005572840485191633),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.0),
 (569, 0.0),
 (570, 0.0),
 (571, 0.001329868919145027),
 (572, 0.00386394946761057),
 (573, 0.010793924742697091),
 (574, 0.0),
 (575, 0.0),
 (576, 0.017289656534908437),
 (577, 0.0),
 (578, 0.017118092924118988),
 (579, 0.007121932610025766),
 (580, 0.004213015437605954),
 (581, 0.006386544466629924),
 (582, 0.004547272008109152),
 (583, 0.004054875139731207),
 (584, 0.0),
 (585, 0.009317689864844105),
 (586, 0.0),
 (587, 0.0033082400127632475),
 (588, 0.0),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.008629145039699915),
 (593, 0.0),
 (594, 0.0),
 (595, 0.0015113957349823408),
 (596, 0.0),
 (597, 0.0),
 (598, 0.016280399223922697),
 (599, 0.0),
 (600, 0.0014813090619996206),
 (601, 0.0),
 (602, 0.0015221979811414273),
 (603, 0.0055601367447460845),
 (604, 0.0),
 (605, 0.0),
 (606, 0.003624506279595097),
 (607, 0.0036855872692871158),
 (608, 0.0),
 (609, 0.0),
 (610, 0.010278006317041585),
 (611, 0.004188786387276923),
 (612, 0.007391912027759946),
 (613, 0.0),
 (614, 0.0),
 (615, 0.005474499037978321),
 (616, 0.0),
 (617, 0.0),
 (618, 0.04429132965063294),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.012929424804445498),
 (623, 0.0),
 (624, 0.0),
 (625, 0.013442076038318965),
 (626, 0.0),
 (627, 0.009801065811714207),
 (628, 0.0),
 (629, 0.002814421933782558),
 (630, 0.0),
 (631, 0.005934690327403738),
 (632, 0.0),
 (633, 0.0),
 (634, 0.0),
 (635, 0.002548230000434514),
 (636, 0.0),
 (637, 0.009057547693920491),
 (638, 0.007105311889782892),
 (639, 0.002615542942880532),
 (640, 0.024260411875463815),
 (641, 0.0),
 (642, 0.023053185341793413),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0015452917774666194),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.01356003420717626),
 (654, 0.0),
 (655, 0.002736240690441625),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.0),
 (663, 0.0012048684270797973),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0035577049081229237),
 (667, 0.0),
 (668, 0.0017908499175103073),
 (669, 0.0),
 (670, 0.0051720400802791715),
 (671, 0.0),
 (672, 0.006833433938552001),
 (673, 0.0),
 (674, 0.0),
 (675, 0.003898255876895928),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.010705472945534682),
 (680, 0.0030880228368386667),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0019165364858339674),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.009861532000888807),
 (689, 0.003137285914003041),
 (690, 0.0),
 (691, 0.015457838460588354),
 (692, 1.0),
 (693, 0.0),
 (694, 0.0027141404908225517),
 (695, 0.0),
 (696, 0.0),
 (697, 0.005111298245121089),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.013578938493474878),
 (702, 0.028943278102871405),
 (703, 0.0),
 (704, 0.0),
 (705, 0.007734262108680329),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.0),
 (710, 0.0012024686948785483),
 (711, 0.026749810867980173),
 (712, 0.0),
 (713, 0.011423281352810807),
 (714, 0.0),
 (715, 0.0),
 (716, 0.002466339404144798),
 (717, 0.0),
 (718, 0.003641836971068506),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.00862785303811151),
 (723, 0.0),
 (724, 0.002151229233709706),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.005557224597431475),
 (731, 0.0),
 (732, 0.0),
 (733, 0.01611256624598252),
 (734, 0.003276666620595652),
 (735, 0.0024659427528305198),
 (736, 0.0024511002486501832),
 (737, 0.0),
 (738, 0.011190963912805392),
 (739, 0.003819709052930452),
 (740, 0.0),
 (741, 0.001991376214264806),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.018362815377688527),
 (747, 0.0042427434976410995),
 (748, 0.0),
 (749, 0.0010874742005863728),
 (750, 0.0),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.00439142837400147),
 (757, 0.0),
 (758, 0.005185002001104294),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.008688006121827978),
 (763, 0.0),
 (764, 0.011643758633730395),
 (765, 0.011184150722655651),
 (766, 0.007418212494941569),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0013025545518836074),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.003804627068524916),
 (775, 0.0030043748532900803),
 (776, 0.0063165611270256),
 (777, 0.0),
 (778, 0.0),
 (779, 0.01949688411839306),
 (780, 0.008896001037192233),
 (781, 0.008928980377051572),
 (782, 0.0),
 (783, 0.0),
 (784, 0.007887430032852458),
 (785, 0.004143938043025265),
 (786, 0.0017087189988204948),
 (787, 0.0),
 (788, 0.003343859973677928),
 (789, 0.0),
 (790, 0.006376591823413472),
 (791, 0.0031739793422661433),
 (792, 0.0),
 (793, 0.014872360774271415),
 (794, 0.0),
 (795, 0.004546436636427203),
 (796, 0.0),
 (797, 0.007148612366960844),
 (798, 0.0),
 (799, 0.0023398749284421995),
 (800, 0.0),
 (801, 0.0),
 (802, 0.009931730467073031),
 (803, 0.0014687389324283052),
 (804, 0.0),
 (805, 0.032249128514553194),
 (806, 0.0),
 (807, 0.008755707659405065),
 (808, 0.0),
 (809, 0.004537130544994639),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.019189291074516147),
 (814, 0.0),
 (815, 0.004376334775021661),
 (816, 0.0),
 (817, 0.0),
 (818, 0.009331091361328462),
 (819, 0.011710481544848293),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.0015483791028858011),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0052216793105784145),
 (832, 0.0),
 (833, 0.0),
 (834, 0.006978691369873287),
 (835, 0.001454056735755107),
 (836, 0.008583703251521196),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.007365815387039166),
 (841, 0.0023906231128207737),
 (842, 0.008147180148700611),
 (843, 0.0021666706006052442),
 (844, 0.0),
 (845, 0.001683734992859005),
 (846, 0.0),
 (847, 0.0),
 (848, 0.00189626863327311),
 (849, 0.01586494643903777),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.0),
 (855, 0.0),
 (856, 0.006381087919910828),
 (857, 0.0),
 (858, 0.0),
 (859, 0.010588193085620635),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.003550829661449123),
 (866, 0.0061333758467580525),
 (867, 0.007744200039238407),
 (868, 0.0013690521532896138),
 (869, 0.00259681477385486),
 (870, 0.0),
 (871, 0.0),
 (872, 0.0),
 (873, 0.0),
 (874, 0.002021448851992415),
 (875, 0.0046975189624399285),
 (876, 0.008715207566714539),
 (877, 0.009496066741519876),
 (878, 0.0),
 (879, 0.0018053365432075378),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.0),
 (885, 0.002747864920853063),
 (886, 0.0),
 (887, 0.0),
 (888, 0.0),
 (889, 0.004296023813944531),
 (890, 0.0),
 (891, 0.0),
 (892, 0.001408122401624614),
 (893, 0.0),
 (894, 0.0),
 (895, 0.013265087729436013),
 (896, 0.0),
 (897, 0.010703476927721337),
 (898, 0.0072849530493898345),
 (899, 0.0),
 (900, 0.0),
 (901, 0.0),
 (902, 0.0014109598221569639),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0036435406277265893),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0023540898652762263),
 (912, 0.0),
 (913, 0.005869491753341857),
 (914, 0.0),
 (915, 0.0),
 (916, 0.01620155120639179),
 (917, 0.009519874185030723),
 (918, 0.007968105207308665),
 (919, 0.014855587313696097),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.02297602396477659),
 (925, 0.023729554211151638),
 (926, 0.008633926340492003),
 (927, 0.0),
 (928, 0.00934571985414892),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.013328365876994774),
 (933, 0.0),
 (934, 0.0),
 (935, 0.004035962753382343),
 (936, 0.009944596211848363),
 (937, 0.0),
 (938, 0.0053191786949232656),
 (939, 0.01229280993142138),
 (940, 0.0),
 (941, 0.0),
 (942, 0.02027038469879571),
 (943, 0.011088285374160383),
 (944, 0.0),
 (945, 0.0),
 (946, 0.015794520858692304),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.0),
 (952, 0.0014709851876943765),
 (953, 0.008380770357130193),
 (954, 0.004091564604233246),
 (955, 0.0),
 (956, 0.005711266693574088),
 (957, 0.0),
 (958, 0.0),
 (959, 0.001098070363736218),
 (960, 0.0),
 (961, 0.004028947252096474),
 (962, 0.0),
 (963, 0.004807181765152669),

In [0]:
sorted(list(enumerate(cosine_sim[indices['The Godfather']])), key=lambda x: x[1], reverse=True)

[(692, 1.0),
 (973, 0.2200595178936745),
 (8387, 0.10029390541992986),
 (3509, 0.06761848151322326),
 (4196, 0.06562175180478302),
 (29, 0.056141832299658065),
 (5667, 0.05602843927906767),
 (2412, 0.05502278169436636),
 (1582, 0.05023453567639341),
 (4221, 0.04750779835449127),
 (2159, 0.045952221089987144),
 (618, 0.04429132965063294),
 (3609, 0.04357171847025123),
 (8816, 0.0435129182969028),
 (3288, 0.042950016364388596),
 (2192, 0.042861437852323714),
 (5406, 0.04268567711818754),
 (3715, 0.042226605109396416),
 (7657, 0.041061492175601066),
 (3607, 0.038986894380988554),
 (6398, 0.03877424909664074),
 (7591, 0.038303775784360845),
 (7760, 0.0382153422883648),
 (5593, 0.03795510540166519),
 (227, 0.037010379610304484),
 (3560, 0.03696878634567288),
 (8931, 0.036662656495184284),
 (5271, 0.03648840115138164),
 (4168, 0.03568277952498167),
 (7741, 0.03564826204650196),
 (4144, 0.03561793711435183),
 (4210, 0.03544222076242222),
 (9076, 0.035219391060577906),
 (8649, 0.03513663004903313),
 (1542, 0.0345113593934628),
 (5217, 0.03441836835563471),
 (4160, 0.03381357511027337),
 (4895, 0.03365921245974935),
 (7322, 0.03322399727068136),
 (4395, 0.032862871345070765),
 (1681, 0.032255449275692384),
 (2305, 0.03225207065305588),
 (805, 0.032249128514553194),
 (5558, 0.03131735834880446),
 (8129, 0.030871813581942503),
 (6714, 0.030758406594216237),
 (8625, 0.03047177952562121),
 (4788, 0.030305110237595988),
 (4489, 0.029976920109742993),
 (4555, 0.029302101423480935),
 (1384, 0.02929090737328062),
 (702, 0.028943278102871405),
 (9017, 0.028839352909172892),
 (5728, 0.028222433897777188),
 (9046, 0.028166832477160928),
 (8105, 0.027909833401963728),
 (38, 0.02717387932966191),
 (6937, 0.027001867761201392),
 (5877, 0.026886807514866967),
 (711, 0.026749810867980173),
 (1544, 0.026727514294619857),
 (7411, 0.02625790708457043),
 (7579, 0.02575825227652285),
 (8409, 0.02563137500542032),
 (3816, 0.025574599608889702),
 (3700, 0.025535399986014656),
 (6795, 0.02544519931765622),
 (8756, 0.025396895430564552),
 (5458, 0.025281648124286297),
 (3531, 0.02505748918998845),
 (8574, 0.02505748918998845),
 (1156, 0.025045196804162874),
 (4656, 0.02503434862891164),
 (2973, 0.025002023542397812),
 (8821, 0.024808810953183755),
 (4041, 0.024637831877581406),
 (7510, 0.024591049664493866),
 (1836, 0.02450022593125189),
 (6411, 0.02430628604781826),
 (640, 0.024260411875463815),
 (1522, 0.024054399636693074),
 (6507, 0.02398324541575131),
 (6289, 0.023937420151864626),
 (4427, 0.02391295837616379),
 (6952, 0.023900691219670468),
 (4625, 0.023849711660597128),
 (925, 0.023729554211151638),
 (4624, 0.023670371943751024),
 (3311, 0.02362923607998526),
 (21, 0.02347433335488712),
 (642, 0.023053185341793413),
 (924, 0.02297602396477659),
 (8478, 0.022945570016348678),
 (2995, 0.022858380589677464),
 (300, 0.02272135556810994),
 (1726, 0.022681592403176458),
 (4627, 0.02264841666419662),
 (8244, 0.02264056500963202),
 (2037, 0.022619887416357273),
 (3776, 0.022403229462971533),
 (2796, 0.022122266312309097),
 (7988, 0.02209343478688756),
 (6187, 0.021950674466051492),
 (8149, 0.02191369943501973),
 (2072, 0.021881647523341943),
 (5146, 0.02184021168129799),
 (6712, 0.02173920104607427),
 (2886, 0.021725112663636314),
 (340, 0.021702039306386204),
 (7385, 0.021647028756800864),
 (980, 0.021631210904136677),
 (5497, 0.021426711044438766),
 (140, 0.021390312350561772),
 (1295, 0.021211543743834885),
 (6307, 0.021115662376744625),
 (7646, 0.0210862718387724),
 (7318, 0.021063128954274923),
 (6564, 0.02105669311222368),
 (1606, 0.02102695848880403),
 (4053, 0.021022466860294242),
 (985, 0.020990626235187274),
 (1399, 0.020976109574031593),
 (6814, 0.020903565316374925),
 (403, 0.020900518878152956),
 (7073, 0.02089024552485074),
 (1570, 0.020790147877991494),
 (8375, 0.02078033832483932),
 (3570, 0.02072986261343688),
 (6014, 0.020684493937826492),
 (7946, 0.020651815339555277),
 (1084, 0.020591708830408496),
 (1514, 0.02057935280051815),
 (8725, 0.020534531061111444),
 (974, 0.020520078946498446),
 (3642, 0.02044015239103044),
 (7032, 0.02041990716749701),
 (7344, 0.020321030355903418),
 (5331, 0.020310384603122084),
 (7378, 0.02029358351453866),
 (942, 0.02027038469879571),
 (6308, 0.020137311334648654),
 (5449, 0.020131330490738893),
 (3338, 0.019914137788886017),
 (8530, 0.019860983310008285),
 (2089, 0.019828876513539546),
 (260, 0.01978598159256314),
 (3237, 0.019774174960179698),
 (3708, 0.01973276054609583),
 (2470, 0.019724350529649794),
 (2246, 0.019719975825404218),
 (6609, 0.01966665909246705),
 (3459, 0.019653249335982614),
 (8615, 0.01954460577985712),
 (779, 0.01949688411839306),
 (1797, 0.0194662767849652),
 (3784, 0.019407547439545026),
 (4184, 0.01936620041238246),
 (2533, 0.019327872512038248),
 (3798, 0.019246066537759537),
 (2601, 0.01921953409163478),
 (813, 0.019189291074516147),
 (542, 0.019109977055870454),
 (4472, 0.01901020776985847),
 (8439, 0.019005110206712604),
 (4852, 0.018909752415186033),
 (4869, 0.01885711151376383),
 (8286, 0.01884765655794251),
 (8513, 0.018781414012973736),
 (8373, 0.018778643476365875),
 (2928, 0.018759444495427085),
 (2573, 0.018718837975235325),
 (8215, 0.018683840485178006),
 (3218, 0.01865442575050323),
 (7256, 0.018643013050246925),
 (4251, 0.01861018843463008),
 (3499, 0.018586550235863402),
 (5411, 0.018584722289489573),
 (2485, 0.018563222102241657),
 (8449, 0.018534709343840664),
 (8172, 0.01851453373989751),
 (7101, 0.018508531419573704),
 (5011, 0.01844847777562446),
 (3125, 0.018394675899823604),
 (746, 0.018362815377688527),
 (2957, 0.018360561051875203),
 (8830, 0.01831985505180566),
 (1048, 0.01830997079954047),
 (6405, 0.01825360016336164),
 (7251, 0.0181914913926083),
 (7300, 0.01812294129554803),
 (5130, 0.018049002365932987),
 (2962, 0.018036478778134152),
 (4051, 0.017909968869968634),
 (417, 0.017882223580400744),
 (1402, 0.017828785262373244),
 (6332, 0.01782647101740321),
 (4062, 0.0178245441959748),
 (6419, 0.017815836142778027),
 (8253, 0.0178120914780849),
 (6646, 0.01780544882040034),
 (8065, 0.01771958289941044),
 (2397, 0.0177138126574945),
 (1545, 0.017682394606709177),
 (3856, 0.017680933156806456),
 (4897, 0.017648064760207506),
 (3245, 0.017642019501520004),
 (1515, 0.017635648815423142),
 (6486, 0.01763084121263066),
 (7433, 0.01762423523119169),
 (2396, 0.017596861949724353),
 (3379, 0.01759149611067414),
 (5283, 0.017572954372216534),
 (979, 0.017571050027617666),
 (9084, 0.01756048390115388),
 (3023, 0.01755132660223606),
 (8610, 0.01752500102034324),
 (235, 0.01749521083252402),
 (1942, 0.017489437148394876),
 (433, 0.017458672533826797),
 (2948, 0.017457346624293033),
 (7294, 0.017451464969586744),
 (7345, 0.01744840377380645),
 (4207, 0.017392028388830288),
 (3753, 0.017386915315668543),
 (7587, 0.01736162114913359),
 (8533, 0.01735803873865243),
 (982, 0.017336268992035293),
 (6533, 0.017323822823817968),
 (281, 0.017315061152984423),
 (576, 0.017289656534908437),
 (9068, 0.017266644632967995),
 (4739, 0.01725004278274167),
 (2191, 0.01724494530818441),
 (1244, 0.017222567779473716),
 (48, 0.017220777855400132),
 (4434, 0.017160795419686434),
 (2654, 0.017156338183714297),
 (4495, 0.01715625237791602),
 (578, 0.017118092924118988),
 (1842, 0.017089430533553582),
 (7359, 0.01701620661037448),
 (4611, 0.016941022458865782),
 (1772, 0.01690820012350434),
 (240, 0.01690637286616969),
 (1297, 0.01687547674798141),
 (3641, 0.016843350762921726),
 (4894, 0.016823924932956123),
 (3921, 0.016806625278535863),
 (7172, 0.016748026969315915),
 (6394, 0.016732409081835247),
 (4841, 0.01669808339944351),
 (2707, 0.01669197849966331),
 (1993, 0.01668402490204226),
 (4688, 0.01668326116768045),
 (2373, 0.016661523394651857),
 (3827, 0.016608980398795017),
 (4458, 0.016593550202517654),
 (6851, 0.016574598476430953),
 (3984, 0.016568835454736617),
 (3657, 0.01655696930744872),
 (13, 0.01655348503181121),
 (7374, 0.01654297611138542),
 (4830, 0.016513054033523798),
 (6747, 0.016484805587270626),
 (5702, 0.016429373400851578),
 (2529, 0.01642219352312705),
 (5462, 0.0164129123325219),
 (8492, 0.016399127643576494),
 (6101, 0.01637741143478839),
 (2940, 0.016371601133102067),
 (1427, 0.016367966502449947),
 (8813, 0.01635796668455046),
 (476, 0.016354531852008664),
 (8321, 0.016312312597064706),
 (598, 0.016280399223922697),
 (6594, 0.016257391472433935),
 (5929, 0.016238538934186593),
 (4352, 0.01623628508471068),
 (3159, 0.016233924477560068),
 (916, 0.01620155120639179),
 (4110, 0.01616558105209686),
 (2202, 0.016158547129436755),
 (2392, 0.016150751257408343),
 (5843, 0.016147957484954577),
 (733, 0.01611256624598252),
 (3434, 0.016109290826790284),
 (5274, 0.01610900896950264),
 (5537, 0.0160590943130234),
 (400, 0.01601483831789749),
 (7789, 0.01599909916306877),
 (3612, 0.01594429826810169),
 (3916, 0.015938819011339023),
 (4892, 0.015934626468983006),
 (78, 0.015901594474569587),
 (6259, 0.015882553384882016),
 (849, 0.01586494643903777),
 (6827, 0.01586167651521261),
 (8388, 0.015857939820645876),
 (946, 0.015794520858692304),
 (3506, 0.015779598436925144),
 (555, 0.015776465949821468),
 (5004, 0.015738293043486392),
 (1435, 0.015720010005727626),
 (1771, 0.015709549191770932),
 (3819, 0.015628955532584518),
 (2340, 0.015614870356766081),
 (2608, 0.015598614644938301),
 (6745, 0.01558440670806915),
 (82, 0.015537330677950958),
 (1781, 0.01552671931004065),
 (8686, 0.01552018079581097),
 (6212, 0.01551057819378597),
 (2469, 0.015503652727813566),
 (5836, 0.015503652727813566),
 (8923, 0.015499521437178213),
 (691, 0.015457838460588354),
 (7530, 0.015435308510750607),
 (8687, 0.015414405705516967),
 (2884, 0.015408426461600577),
 (6297, 0.015402315667120643),
 (7402, 0.015385220276967874),
 (7249, 0.015385069495145195),
 (5096, 0.015382981616066594),
 (7756, 0.015370764038385434),
 (3797, 0.01534535116342233),
 (339, 0.015328072114839743),
 (8555, 0.015290331481070275),
 (6272, 0.015232150519693885),
 (8738, 0.015232001917518138),
 (6622, 0.015221457666520027),
 (4811, 0.015201399485136902),
 (4330, 0.015197596851658186),
 (7225, 0.015197018919321594),
 (5794, 0.015159583002155867),
 (4048, 0.015152095956349983),
 (6006, 0.015149864253863315),
 (5571, 0.015136248377448706),
 (7185, 0.015115938026995705),
 (8165, 0.015109968385968245),
 (6228, 0.015103805472624004),
 (5790, 0.015092227016823483),
 (6439, 0.015088317561674551),
 (3275, 0.015071643571832495),
 (302, 0.015059634509987332),
 (8075, 0.015053197189840727),
 (1230, 0.015043929328457144),
 (8447, 0.015024816327669435),
 (1488, 0.014992545660948946),
 (392, 0.014991974150731566),
 (5338, 0.014979104254047243),
 (6286, 0.014970986471467048),
 (5551, 0.014895431931489194),
 (8018, 0.014891399329756605),
 (3106, 0.014889455982481686),
 (6736, 0.014878118631285873),
 (793, 0.014872360774271415),
 (6605, 0.014868483705032584),
 (4414, 0.014863786905042592),
 (919, 0.014855587313696097),
 (1288, 0.0147788352337519),
 (1405, 0.014749088045148616),
 (6379, 0.014702178968780134),
 (8477, 0.014701962682893336),
 (81, 0.014629266154415344),
 (3872, 0.014628753583332),
 (4694, 0.014616812145132654),
 (7685, 0.014595556062401698),
 (5161, 0.014593846113723481),
 (6282, 0.014577716102177592),
 (6829, 0.014549213673259136),
 (7837, 0.014548134259046835),
 (4853, 0.014527985557140298),
 (5328, 0.01451862200389504),
 (6135, 0.014500329087501033),
 (4993, 0.014486974765057524),
 (6930, 0.014431884851072826),
 (1067, 0.01441011652969874),
 (6209, 0.014392181801358466),
 (3110, 0.014377809159779077),
 (4955, 0.014364232790540474),
 (3042, 0.014332780394088482),
 (4777, 0.014268629331103871),
 (1419, 0.01426081322367501),
 (2818, 0.014227123272729469),
 (8194, 0.01422426085019883),
 (3520, 0.014216450887764385),
 (5838, 0.014215841197595232),
 (8599, 0.014210138488351015),
 (6452, 0.01418083071100379),
 (1317, 0.014164683039480493),
 (2513, 0.014150608718187314),
 (2977, 0.014133765191591173),
 (1794, 0.014128809862505129),
 (8320, 0.014128623993946668),
 (2969, 0.014121472216072574),
 (327, 0.014101253207826792),
 (7120, 0.014082702862792713),
 (9072, 0.014046093450601076),
 (5994, 0.014025424741636311),
 (7896, 0.01401116188252236),
 (6506, 0.014004261108520273),
 (1381, 0.01397883637757029),
 (519, 0.013977786630117122),
 (4561, 0.013957245727851769),
 (5996, 0.013916384812405043),
 (7746, 0.013894242286399539),
 (4510, 0.013873268664240351),
 (7869, 0.0138729614503762),
 (8099, 0.01386650480954987),
 (6235, 0.01386527154222514),
 (167, 0.01386175422952218),
 (3656, 0.013858309519144374),
 (2813, 0.013854554260144942),
 (7959, 0.013794501616325928),
 (6777, 0.013793528912780923),
 (8797, 0.013775540727815627),
 (7477, 0.013764594833908064),
 (7050, 0.013763383723832363),
 (7042, 0.013749345819275244),
 (1757, 0.01374868826294559),
 (6675, 0.013738629864707159),
 (253, 0.013731315417223156),
 (6288, 0.013728276359453277),
 (7717, 0.013709355148790056),
 (7941, 0.0136704646051019),
 (5488, 0.01366750367449642),
 (5680, 0.013664256163782069),
 (522, 0.01366072459627539),
 (5760, 0.01365869722142341),
 (2700, 0.013649366934306338),
 (515, 0.013646759733140156),
 (4247, 0.013645408291513528),
 (1604, 0.013640864192704698),
 (5348, 0.013629345692215805),
 (4719, 0.013626236249818891),
 (8085, 0.013617974622504646),
 (3517, 0.013595908752331031),
 (8023, 0.013589565001223837),
 (3516, 0.01358688165490061),
 (701, 0.013578938493474878),
 (6555, 0.013570682011243968),
 (5276, 0.013567550009254884),
 (1966, 0.013562017018251419),
 (6934, 0.01356061204829885),
 (458, 0.013560378187696884),
 (653, 0.01356003420717626),
 (4542, 0.013519809065812469),
 (6678, 0.01350362198484448),
 (6529, 0.013488964233069346),
 (5898, 0.013481095895275939),
 (250, 0.013466213907620673),
 (625, 0.013442076038318965),
 (499, 0.013435477514627465),
 (4180, 0.013424192009235699),
 (4104, 0.013404853513628374),
 (2103, 0.01339645884077869),
 (4606, 0.013391175961673218),
 (4366, 0.013390508182216529),
 (6582, 0.013374622972433694),
 (5438, 0.01335924361281774),
 (2488, 0.013337044927562682),
 (4404, 0.01333585804673259),
 (932, 0.013328365876994774),
 (8384, 0.013315798402027994),
 (8120, 0.013289821076165017),
 (7584, 0.013279156307538398),
 (5260, 0.01327837561516676),
 (2, 0.013274406850346377),
 (4864, 0.013270735811352087),
 (895, 0.013265087729436013),
 (5397, 0.013259959158279684),
 (6432, 0.013236458500146719),
 (4056, 0.01322609233736233),
 (3403, 0.013213574436476661),
 (1020, 0.013164580386251875),
 (152, 0.013156049779745901),
 (9034, 0.013131872691513984),
 (2236, 0.013125088405428),
 (3074, 0.013073917219023708),
 (8781, 0.013067243107357265),
 (4583, 0.013062056807849217),
 (54, 0.013040187304503736),
 (6596, 0.013007212693221743),
 (5941, 0.012990242155846127),
 (2005, 0.012967850477387412),
 (2079, 0.012959555606899306),
 (7874, 0.012935636285853615),
 (622, 0.012929424804445498),
 (8603, 0.01291693563327604),
 (3429, 0.012904956738699931),
 (86, 0.012885600575678585),
 (1619, 0.012867409685296791),
 (1227, 0.012859816139938744),
 (3848, 0.012859345972808897),
 (6831, 0.012858165727583474),
 (2955, 0.012831180004633208),
 (8370, 0.012820298079742137),
 (1631, 0.012817807241931581),
 (432, 0.012798137465028928),
 (1830, 0.012781944174336748),
 (6184, 0.012768534873330932),
 (3449, 0.012767813215542913),
 (8711, 0.012766929651916043),
 (4707, 0.0127640512676603),
 (1087, 0.012758293380080978),
 (5846, 0.012745160448173237),
 (451, 0.012739836199427257),
 (8753, 0.012731912793920322),
 (5257, 0.01271947980613833),
 (8446, 0.012716005839689558),
 (7048, 0.012707867155564656),
 (1494, 0.012707126157089892),
 (3107, 0.012704161999995628),
 (5915, 0.012694533046689384),
 (1054, 0.012687796803183913),
 (354, 0.012681100726084214),
 (8743, 0.012674485863790231),
 (976, 0.012670746987675141),
 (4178, 0.012662894426170633),
 (1803, 0.012636864586075706),
 (5554, 0.012630733269151307),
 (524, 0.0126222336243421),
 (5787, 0.012620238855183489),
 (4202, 0.012614347664963945),
 (7554, 0.01260620371958208),
 (506, 0.012581787827032499),
 (8614, 0.012581088022652114),
 (6543, 0.01257614630413089),
 (1128, 0.012575380794740292),
 (286, 0.012539444954340277),
 (7669, 0.012518182608535664),
 (3360, 0.012484133066807799),
 (2007, 0.012472476559921704),
 (4437, 0.01243503740405938),
 (2927, 0.01242524074341656),
 (2540, 0.012416486655677149),
 (8633, 0.012415181208399625),
 (8469, 0.012404649923540054),
 (8327, 0.012397203885144675),
 (1800, 0.012388036800109335),
 (8534, 0.0123651901887896),
 (7994, 0.012358392300245234),
 (7169, 0.012333181593779685),
 (5236, 0.012324517793022901),
 (2534, 0.012320852298596347),
 (1366, 0.012300391797955557),
 (939, 0.01229280993142138),
 (8818, 0.012273816206566746),
 (214, 0.01226676013737953),
 (1415, 0.012262904839343291),
 (5434, 0.012261667509877415),
 (6757, 0.012260842413139333),
 (7755, 0.012260521029724105),
 (9038, 0.01225821554771598),
 (4900, 0.012247473164217891),
 (6415, 0.012239896779618713),
 (4205, 0.012236789053061616),
 (3108, 0.012235659934618049),
 (2944, 0.012228768329402047),
 (1867, 0.012224774326401285),
 (2782, 0.012207314368803126),
 (2675, 0.012193107886831051),
 (4908, 0.012150584191272506),
 (6022, 0.012129737240894172),
 (5025, 0.012129268971205576),
 (1602, 0.012128745199873264),
 (8270, 0.012111253839239127),
 (2145, 0.012104790297044275),
 (7563, 0.012101580218801953),
 (2092, 0.012084008807952266),
 (229, 0.012068011493680579),
 (3663, 0.012053015822349678),
 (3372, 0.012037453787857325),
 (5059, 0.012034883977828894),
 (4386, 0.012034638409477025),
 (6501, 0.01200292643723354),
 (8600, 0.012002732294030526),
 (4983, 0.011989113725321448),
 (3495, 0.011966291366045132),
 (443, 0.011938913417599131),
 (4745, 0.011938173264067988),
 (5647, 0.01193355248221614),
 (1075, 0.011925128110460861),
 (8645, 0.011911546038815902),
 (6989, 0.011901303010997785),
 (8010, 0.011875076424023533),
 (1290, 0.011874049988799889),
 (6285, 0.01186013234235893),
 (7654, 0.011857014781389886),
 (5876, 0.011835863551912481),
 (6631, 0.011828014868976383),
 (2494, 0.011791740296655265),
 (2343, 0.011781749062634515),
 (8606, 0.011772203926907013),
 (6088, 0.011769902261895381),
 (5597, 0.011763964486258272),
 (5468, 0.011735834945529083),
 (7232, 0.011733309716721846),
 (8671, 0.011730257362141954),
 (8582, 0.01171327954998718),
 (7535, 0.011711119684009057),
 (819, 0.011710481544848293),
 (6116, 0.011702614526912472),
 (3790, 0.011689697100329495),
 (8425, 0.011673553896051759),
 (7502, 0.011672140320817797),
 (134, 0.011655309756383018),
 (202, 0.011653986185481323),
 (1390, 0.011653264586529814),
 (1197, 0.011652435584740294),
 (4526, 0.011648535740086261),
 (27, 0.011643868586706513),
 (764, 0.011643758633730395),
 (7368, 0.011616689698841996),
 (2458, 0.011613206071936378),
 (2490, 0.011603011396590247),
 (1203, 0.011602297946725662),
 (2309, 0.01160037425911952),
 (8927, 0.011578803616496578),
 (5956, 0.011559326642029608),
 (4972, 0.011553351727437933),
 (2998, 0.011547161138034298),
 (482, 0.011546280944398383),
 (3528, 0.01152922256505492),
 (6749, 0.011509540906159296),
 (4516, 0.011504549120697979),
 (6512, 0.011486520990715215),
 (1276, 0.011482231397933605),
 (423, 0.011447404777179114),
 (2788, 0.0114450278493907),
 (8969, 0.011430175175029028),
 (713, 0.011423281352810807),
 (6202, 0.011417626355289192),
 (4734, 0.011413622799313208),
 (8790, 0.01140772171488616),
 (4344, 0.011403675344181364),
 (219, 0.01140175269757331),
 (7575, 0.011390672458175044),
 (7772, 0.011379276007271375),
 (1099, 0.011375249227336171),
 (3634, 0.011363876653716843),
 (2146, 0.011355340665534838),
 (511, 0.011344924654645603),
 (5837, 0.011337954432520416),
 (5725, 0.011335196579525128),
 (8666, 0.011333119824626597),
 (518, 0.011315996475237637),
 (2806, 0.011315539561348929),
 (8517, 0.011275996115262588),
 (1442, 0.011263606573663234),
 (5014, 0.01126042578995862),
 (8946, 0.011260248983806192),
 (6835, 0.0112298021650401),
 (353, 0.011226770650997248),
 (204, 0.011212448537289147),
 (3217, 0.011204757456741581),

In [0]:
get_recommendations('The Godfather').head(10)

973      The Godfather: Part II
8387                 The Family
3509                       Made
4196         Johnny Dangerously
29               Shanghai Triad
5667                       Fury
2412             American Movie
1582    The Godfather: Part III
4221                    8 Women
2159              Summer of Sam
Name: title, dtype: object

In [0]:
get_recommendations('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

Metadata Based Recommender

In [0]:
credits = pd.read_csv('/content/drive/My Drive/Colab Notebooks/MovieRcmmd/data/data/credits.csv')
keywords = pd.read_csv('/content/drive/My Drive/Colab Notebooks/MovieRcmmd/data/data/keywords.csv')

In [0]:
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
md['id'] = md['id'].astype('int')

In [0]:
keywords.head() # 각 영화의 keywords 정리

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [0]:
credits.head()
# cast :주연들에 대한 설명(character, name, gender,,)
# crew : 감독, 작가 등에 대한 설명

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [0]:
md.shape

(45463, 25)

In [0]:
md = md.merge(credits, on='id')
md = md.merge(keywords, on='id')
md.head()

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 28 columns]

In [0]:
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 28)

In [0]:
smd['cast'] = smd['cast'].apply(literal_eval)
smd['crew'] = smd['crew'].apply(literal_eval)
smd['keywords'] = smd['keywords'].apply(literal_eval)
smd['cast_size'] = smd['cast'].apply(lambda x: len(x))
smd['crew_size'] = smd['crew'].apply(lambda x: len(x))

In [0]:
def get_director(x):
  for i in x:
    if i['job'] == 'Director':
      return i['name']
  return np.nan

In [0]:
smd['director'] = smd['crew'].apply(get_director)

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x) #주연이름 세자리까지만

In [0]:
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [0]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ","")) for i in x]) # 주연이름 붙여쓰기, 소문자로

In [0]:
smd['cast'].head()

0                  [tomhanks, timallen, donrickles]
1       [robinwilliams, jonathanhyde, kirstendunst]
2          [waltermatthau, jacklemmon, ann-margret]
3    [whitneyhouston, angelabassett, lorettadevine]
4           [stevemartin, dianekeaton, martinshort]
Name: cast, dtype: object

In [0]:
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x, x, x])

In [0]:
smd['director']

0               [johnlasseter, johnlasseter, johnlasseter]
1                  [joejohnston, joejohnston, joejohnston]
2               [howarddeutch, howarddeutch, howarddeutch]
3         [forestwhitaker, forestwhitaker, forestwhitaker]
4               [charlesshyer, charlesshyer, charlesshyer]
                               ...
40952        [greggchampion, greggchampion, greggchampion]
41172    [tinusureshdesai, tinusureshdesai, tinusureshd...
41225    [ashutoshgowariker, ashutoshgowariker, ashutos...
41391              [hideakianno, hideakianno, hideakianno]
41669                    [ronhoward, ronhoward, ronhoward]
Name: director, Length: 9219, dtype: object

Keywords

In [0]:
s = smd.apply(lambda x: pd.Series(x['keywords']), axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s

0           jealousy
0                toy
0                boy
0         friendship
0            friends
            ...
41391    destruction
41391          kaiju
41391          toyko
41669          music
41669    documentary
Name: keyword, Length: 64407, dtype: object

In [0]:
s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [0]:
s = s[s > 1]

In [0]:
stemmer = SnowballStemmer('english') #접사 제거, 명사 추출
stemmer.stem('dogs')

'dog'

In [0]:
def filter_keywords(x):
  words = []
  for i in x:
    if i in s:
      words.append(i)
  return words

In [0]:
smd['keywords'] = smd['keywords'].apply(filter_keywords)
smd['keywords']

0        [jealousy, toy, boy, friendship, friends, riva...
1        [board game, disappearance, based on children'...
2             [fishing, best friend, duringcreditsstinger]
3        [based on novel, interracial relationship, sin...
4        [baby, midlife crisis, confidence, aging, daug...
                               ...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391    [monster, godzilla, giant monster, destruction...
41669                                 [music, documentary]
Name: keywords, Length: 9219, dtype: object

In [0]:
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [0]:
smd['keywords']

0        [jealousi, toy, boy, friendship, friend, rival...
1        [boardgam, disappear, basedonchildren'sbook, n...
2                   [fish, bestfriend, duringcreditssting]
3        [basedonnovel, interracialrelationship, single...
4        [babi, midlifecrisi, confid, age, daughter, mo...
                               ...
40952                                         [friendship]
41172                                          [bollywood]
41225                                          [bollywood]
41391     [monster, godzilla, giantmonst, destruct, kaiju]
41669                                 [music, documentari]
Name: keywords, Length: 9219, dtype: object

In [0]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))
smd['soup']

0        jealousi toy boy friendship friend rivalri boy...
1        boardgam disappear basedonchildren'sbook newho...
2        fish bestfriend duringcreditssting waltermatth...
3        basedonnovel interracialrelationship singlemot...
4        babi midlifecrisi confid age daughter motherda...
                               ...
40952    friendship sidneypoitier wendycrewson jayo.san...
41172    bollywood akshaykumar ileanad'cruz eshagupta t...
41225    bollywood hrithikroshan poojahegde kabirbedi a...
41391    monster godzilla giantmonst destruct kaiju hir...
41669    music documentari paulmccartney ringostarr joh...
Name: soup, Length: 9219, dtype: object

In [0]:
count = CountVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])

In [0]:
count_matrix.shape # 9212개의 문장이 100304 토큰으로 표현

(9219, 107377)

In [0]:
print(np.array(count_matrix))

  (0, 48201)	1
  (0, 99578)	1
  (0, 11703)	1
  (0, 35554)	1
  (0, 35478)	1
  (0, 82467)	1
  (0, 11769)	1
  (0, 70474)	1
  (0, 99598)	1
  (0, 98820)	1
  (0, 98078)	1
  (0, 26723)	1
  (0, 51067)	3
  (0, 4568)	1
  (0, 19542)	1
  (0, 32156)	1
  (0, 48271)	1
  (0, 99581)	1
  (0, 11714)	1
  (0, 35590)	1
  (0, 35536)	1
  (0, 82470)	1
  (0, 11771)	1
  (0, 70475)	1
  (0, 99608)	1
  :	:
  (9217, 106919)	1
  (9217, 86548)	1
  (9217, 38388)	1
  (9217, 37878)	1
  (9217, 25096)	1
  (9217, 53526)	1
  (9217, 41960)	1
  (9217, 106920)	1
  (9217, 86549)	1
  (9217, 41617)	1
  (9218, 68585)	2
  (9218, 26187)	1
  (9218, 84440)	3
  (9218, 84450)	2
  (9218, 26197)	1
  (9218, 26178)	1
  (9218, 51095)	1
  (9218, 74590)	1
  (9218, 82382)	1
  (9218, 68642)	1
  (9218, 26185)	1
  (9218, 74598)	1
  (9218, 82384)	1
  (9218, 51098)	1
  (9218, 84444)	1

In [0]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.02441931, 0.02738955, ..., 0.        , 0.        ,
        0.        ],
       [0.02441931, 1.        , 0.        , ..., 0.02973505, 0.02500782,
        0.        ],
       [0.02738955, 0.        , 1.        , ..., 0.03335187, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02973505, 0.03335187, ..., 1.        , 0.08700222,
        0.        ],
       [0.        , 0.02500782, 0.        , ..., 0.08700222, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [0]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
                                                      ...
The Last Brickmaker in America                        9214
Rustom                                                9215
Mohenjo Daro                                          9216
Shin Godzilla                                         9217
The Beatles: Eight Days a Week - The Touring Years    9218
Length: 9219, dtype: int64

In [0]:
get_recommendations('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
6623                  The Prestige
2085                     Following
7648                     Inception
4145                      Insomnia
3381                       Memento
8613                  Interstellar
7659    Batman: Under the Red Hood
1134                Batman Returns
Name: title, dtype: object

In [0]:
get_recommendations('Mean Girls').head(10)

3319               Head Over Heels
4763                 Freaky Friday
1329              The House of Yes
6277              Just Like Heaven
7905         Mr. Popper's Penguins
7332    Ghosts of Girlfriends Past
6959     The Spiderwick Chronicles
8883                      The DUFF
6698         It's a Boy Girl Thing
7377       I Love You, Beth Cooper
Name: title, dtype: object

Popularity and Ratings

In [0]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [0]:
improved_recommendations('The Dark Knight')

                                   title  vote_count  ...  year        wr
7648                           Inception       14075  ...  2010  7.917588
8613                        Interstellar       11187  ...  2014  7.897107
6623                        The Prestige        4510  ...  2006  7.758148
3381                             Memento        4168  ...  2000  7.740175
8031               The Dark Knight Rises        9263  ...  2012  6.921448
6218                       Batman Begins        7511  ...  2005  6.904127
1134                      Batman Returns        1706  ...  1992  5.846862
132                       Batman Forever        1529  ...  1995  5.054144
9024  Batman v Superman: Dawn of Justice        7189  ...  2016  5.013943
1260                      Batman & Robin        1447  ...  1997  4.287233

[10 rows x 5 columns]

In [0]:
improved_recommendations('Mean Girls')

                                        title  vote_count  ...  year        wr
1547                       The Breakfast Club        2189  ...  1985  6.709602
390                        Dazed and Confused         588  ...  1993  6.254682
8883                                 The DUFF        1372  ...  2015  5.818541
3712                     The Princess Diaries        1063  ...  2001  5.781086
4763                            Freaky Friday         919  ...  2003  5.757786
6277                         Just Like Heaven         595  ...  2005  5.681521
6959                The Spiderwick Chronicles         593  ...  2008  5.680901
7494  American Pie Presents: The Book of Love         454  ...  2009  5.119690
7332               Ghosts of Girlfriends Past         716  ...  2009  5.092422
7905                    Mr. Popper's Penguins         775  ...  2011  5.087912

[10 rows x 5 columns]

Collaborative Filtering

In [0]:
reader = Reader()

In [0]:
ratings = pd.read_csv('/content/drive/My Drive/Colab Notebooks/MovieRcmmd/data/data/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [0]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader) #데이터셋 로딩

In [0]:
svd = SVD() # SVD :특이값 분해 알고리즘
kf = KFold(n_splits = 5)